Web/Tutunamayanlar/Tutunamayanlar/Connected Services/HGS_WebService/HGS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="satinAl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="musteriNo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="bakiye" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="satinAlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="satinAlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bakiyeSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hgsNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bakiyeSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bakiyeSorgulaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bakiyeYukle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hgsNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tutar" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bakiyeYukleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bakiyeYukleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgslerim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="musteriNo" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgslerimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgslerimResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="satinAlSoapIn">
    <wsdl:part name="parameters" element="tns:satinAl" />
  </wsdl:message>
  <wsdl:message name="satinAlSoapOut">
    <wsdl:part name="parameters" element="tns:satinAlResponse" />
  </wsdl:message>
  <wsdl:message name="bakiyeSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:bakiyeSorgula" />
  </wsdl:message>
  <wsdl:message name="bakiyeSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:bakiyeSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="bakiyeYukleSoapIn">
    <wsdl:part name="parameters" element="tns:bakiyeYukle" />
  </wsdl:message>
  <wsdl:message name="bakiyeYukleSoapOut">
    <wsdl:part name="parameters" element="tns:bakiyeYukleResponse" />
  </wsdl:message>
  <wsdl:message name="hgslerimSoapIn">
    <wsdl:part name="parameters" element="tns:hgslerim" />
  </wsdl:message>
  <wsdl:message name="hgslerimSoapOut">
    <wsdl:part name="parameters" element="tns:hgslerimResponse" />
  </wsdl:message>
  <wsdl:portType name="HGSSoap">
    <wsdl:operation name="satinAl">
      <wsdl:input message="tns:satinAlSoapIn" />
      <wsdl:output message="tns:satinAlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bakiyeSorgula">
      <wsdl:input message="tns:bakiyeSorgulaSoapIn" />
      <wsdl:output message="tns:bakiyeSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bakiyeYukle">
      <wsdl:input message="tns:bakiyeYukleSoapIn" />
      <wsdl:output message="tns:bakiyeYukleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hgslerim">
      <wsdl:input message="tns:hgslerimSoapIn" />
      <wsdl:output message="tns:hgslerimSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HGSSoap" type="tns:HGSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="satinAl">
      <soap:operation soapAction="http://tempuri.org/satinAl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bakiyeSorgula">
      <soap:operation soapAction="http://tempuri.org/bakiyeSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bakiyeYukle">
      <soap:operation soapAction="http://tempuri.org/bakiyeYukle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgslerim">
      <soap:operation soapAction="http://tempuri.org/hgslerim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HGSSoap12" type="tns:HGSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="satinAl">
      <soap12:operation soapAction="http://tempuri.org/satinAl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bakiyeSorgula">
      <soap12:operation soapAction="http://tempuri.org/bakiyeSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bakiyeYukle">
      <soap12:operation soapAction="http://tempuri.org/bakiyeYukle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hgslerim">
      <soap12:operation soapAction="http://tempuri.org/hgslerim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HGS">
    <wsdl:port name="HGSSoap" binding="tns:HGSSoap">
      <soap:address location="http://localhost:49271/HGS.asmx" />
    </wsdl:port>
    <wsdl:port name="HGSSoap12" binding="tns:HGSSoap12">
      <soap12:address location="http://localhost:49271/HGS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>